*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background : rgb(25, 25, 25); */
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : white;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.css-title{
    font-size: 30px;
}

.css-icon{
    height: 50px;
    color: white;
}

.css-button{
    background-color: transparent;
    border-color: white;
    border: 3px solid white;
    border-radius: 60px;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    cursor: pointer;
}

.css-result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.css-score{
    margin-top: 60px;
    font-weight: bold;
}

.css-reset-button,
.css-autoplay,
.css-yes-button,
.css-no-button {
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    color: white;
    border-radius: 0.3rem;
}

.css-reset-score-confirmation{
    margin-left: 10px;
}

.css-reset-button,
.css-no-button{
    background-color: red;
}

.css-autoplay,
.css-yes-button{
    background-color: green;
}
