body{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem
}

.blackB{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: rgb(109, 102, 102);

    font-weight: bold;
    font-size: 650;
}
.yellowB{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color:rgba(247, 131, 23, 0.973);

    font-weight: bold;
    font-size:large;
}
.js-calculatorPage{
    border: 2px solid white;
    width : 195px;
    height: 50px;
    color: black;
    background-color: white;
    font-size:x-large;
    font-weight: bold;
    overflow: auto;
}